<div class=container>
    <input type="submit" value="Groups {{groupArrow}}" (click)="toggleGroups()">
    <ng-container *ngIf="showGroups">
        <div class="container" *ngFor="let group of authorisedGroups">
            <li>
                <input type="submit" value="{{group}} {{channelArrows[group]}}" (click)="toggleChannels(group)">
                <input *ngIf="isGroupAdmin" type="submit" value="edit {{groupEditArrows[group]}}" (click)="toggleGroupEdit(group)">
                <div class="container" *ngIf="showGroupEdits[group]">
                    <li><input type="submit" value="Add/Remove Users {{addRemoveGroupUserArrows[group]}}"></li>
                    <li><input type="submit" value="Delete Group" (click)="deleteGroup(group)"></li>
                </div>
            </li>
            <ng-container *ngIf="showChannels[group]">
                <div class="container" *ngFor="let channel of authorisedChannels[group]">
                    <li>
                        <input type="submit" value="{{channel}}" (click)="selectChannel()">
                        <input *ngIf="isGroupAssis[group]" type="submit" value="edit {{channelEditArrows[group][channel]}}" (click)="toggleChannelEdit(group, channel)">
                    </li>
                    <div class="container" *ngIf="showChannelEdits[group][channel]">
                        <!-- <li><input type="submit" value="Add User"></li>
                        <li><input type="submit" value="Remove User"></li> -->
                        <li *ngIf="isGroupAdmin"><input type="submit" value="Delete Channel" (click)="deleteChannel(group, channel)"></li>
                    </div>
                </div>
                <div class="container" *ngIf="isGroupAssis[group]">
                    <li>
                        <input [(ngModel)]=newChannelNames[group]>
                        <input type="submit" value="+ Create Channel" (click)="createChannel(group)">
                    </li>
                    <p *ngIf="channelNameAlreadyExists[group]">A channel with that name already exists!</p>
                </div>
            </ng-container>
        </div>
        <div class="container" *ngIf="isGroupAdmin">
            <li><input [(ngModel)]=newGroupName><input type="submit" value="+ Create Group" (click)="createGroup()"></li>
            <p *ngIf="groupNameAlreadyExists">A group with that name already exists!</p>
        </div>
    </ng-container>
</div>
<div class="container">
    <input *ngIf="isGroupAdmin" type="submit" value="Users {{usersArrow}}" (click)="toggleUsers()">
    <ng-container *ngIf="showUsers">
        <div class="container" *ngFor="let user of users">
            <li><input type="submit" value="{{user.name}} {{editUserArrows[user.name]}}" (click)="toggleEditUser(user.name)"></li>
            <div class="container" *ngIf="showEditUsers[user.name]">
                <div *ngIf="isSuperAdmin">
                    <li>Role:</li>
                    <div class="container">
                        <li>
                            <input type=radio name="{{user.name}}.role" value="superAdmin" [(ngModel)]="newRoles[user.name]">
                            Super Admin
                        </li>
                        <li>
                            <input type=radio name="{{user.name}}.role" value="groupAdmin" [(ngModel)]="newRoles[user.name]">
                            Group Admin
                        </li>
                        <li>
                            <input type=radio name="{{user.name}}.role" value="none" [(ngModel)]="newRoles[user.name]">
                            None
                        </li>
                    </div>
                    <li><input type="submit" value="Update" (click)="updateUser(user)"></li>
                    <li><input type="submit" value="Delete User" (click)="deleteUser(user.name)"></li>
                </div>
            </div>
        </div>
        <div class="container">
            <li><input type="submit" value="Create User {{createUserArrow}}" (click)="toggleCreateUser()"></li>
            <div class="container" *ngIf=showCreateUser>
                <li><input placeholder="username" [(ngModel)]="newUser.username"></li>
                <li><input placeholder="email" [(ngModel)]="newUser.email"></li>
                <div *ngIf="isSuperAdmin">
                    <li>Role:</li>
                    <div class="container">
                        <li>
                            <input type=radio name="role" value="groupAdmin" [(ngModel)]="newUser.role">
                            Group Admin
                        </li>
                        <li>
                            <input type=radio name="role" value="none" [(ngModel)]="newUser.role">
                            None
                        </li>
                    </div>
                </div>
                <li><input type="submit" value="Add User" (click)="addUser()"></li>
                <p *ngIf="userNameAlreadyExists">A user with that name already exists!</p>
            </div>
        </div>
    </ng-container>
</div>